.intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}
.crova{
    width: 20px;
   height: 20px; 
}

.bear{
   width: 42px;
   height: 40px; 
}
.question{
    margin-top: 40px;
    background-color: white;
    border: solid 1px black;
    padding-left: 20px;
    padding-right: 20px;
    width: 242px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 40px;
}
.sub-question{
 font-size: 12px;
 color: #9A9283;   
}

.bigcard{
    padding-top: 30px;
    padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 30px;
    border-radius: 12px;
    border: solid 4px #614027;
    background: linear-gradient(to bottom, #FFFFFF 0%, #f6e9db 100%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.cardImg-icon{
    width: 160px;
    height: 160px;
}
.title{
    font-size: 20px;
}
.content{
    margin-top: 5px;
    font-size: 16px;
}


.btn{
    margin-top: 10px;
     width: 280px;
     height: 54px;
     border: solid 1px black;
     border-radius: 12px;
     background-color: #C0E6E2;
     color: #000;
     text-decoration: none;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}

.btn2{
     margin-top: 3px;
     width: 280px;
     height: 54px;
     border: solid 1px black;
     border-radius: 12px;
     background-color: #CCE6C0;
     color: #000;
     text-decoration: none;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}
