.intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 32px;
    padding-bottom: 32px;
}
.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.bear{
   width: 42px;
   height: 40px; 
}
.question{
     margin-top: 12px;
    background-color: white;
    border: solid 1px black;
    padding-left: 20px;
    padding-right: 20px;
    width: 242px;
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.phone{
    margin-top: 1px;
    width: 150px;
    height: 300px;
}

.btn{
    margin-top: 24px;
     width: 280px;
     min-height: 54px;
     border: solid 1px black;
     border-radius: 12px;
     background-color: #C0E6E2;
     color: #000;
     text-decoration: none;
     display: inline-flex;
     align-items: center;
     justify-content: center;
      margin-bottom: 24px;
}
